<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="holidayForm" (ngSubmit)="submit">
      <div class="row">
      
      <!--cin -->
     
      <!--firstin -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">


          <mat-form-field class="example-full-width mb-3">
            <mat-label>Choose a time</mat-label>
            <input matInput [owlDateTimeTrigger]="time1" [owlDateTime]="time1" matInput formControlName="first_in" required>
            <mat-icon matSuffix [owlDateTimeTrigger]="time1" class="date-icon">schedule</mat-icon>
            <owl-date-time [pickerType]="'timer'" #time1></owl-date-time>
            <mat-error *ngIf="holidayForm.get('first_in').hasError('required')">
              HolidayFirst out is required
            </mat-error>
          </mat-form-field>

      
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3">
            <mat-label>Choose a time</mat-label>
            <input matInput [owlDateTimeTrigger]="time2" [owlDateTime]="time2" matInput formControlName="first_out" required>
            <mat-icon matSuffix [owlDateTimeTrigger]="time2" class="date-icon">schedule</mat-icon>
            <owl-date-time [pickerType]="'timer'" #time2></owl-date-time>
            <mat-error *ngIf="holidayForm.get('first_out').hasError('required')">
              HolidayFirst out is required
            </mat-error>
          </mat-form-field>
        </div>
     
       
      </div>

      <div class="row">
      
        <!--cin -->
       
        <!--firstin -->
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3">
              <mat-label>Choose a time</mat-label>
              <input matInput [owlDateTimeTrigger]="time3" [owlDateTime]="time3" matInput formControlName="last_in" required>
              <mat-icon matSuffix [owlDateTimeTrigger]="time3" class="date-icon">schedule</mat-icon>
              <owl-date-time [pickerType]="'timer'" #time3></owl-date-time>
              <mat-error *ngIf="holidayForm.get('last_in').hasError('required')">
                HolidayFirst out is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3">
              <mat-label>Choose a time</mat-label>
              <input matInput [owlDateTimeTrigger]="time4" [owlDateTime]="time4" matInput formControlName="last_out" required>
              <mat-icon matSuffix [owlDateTimeTrigger]="time4" class="date-icon">schedule</mat-icon>
              <owl-date-time [pickerType]="'timer'" #time4></owl-date-time>
              <mat-error *ngIf="holidayForm.get('last_out').hasError('required')">
                HolidayFirst out is required
              </mat-error>
            </mat-form-field>
          </div>
       
         
        </div>

      <div class="row">
       
         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="holidayForm.get('date').hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div>
        

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Select status</mat-label>
            <mat-select matInput formControlName="status" required>
              <mat-option value="present">presnet</mat-option>
              <mat-option value="absent">absent</mat-option>
            </mat-select>
          </mat-form-field>


        
        </div>


      </div>



      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>details</mat-label>
            <textarea matInput formControlName="shift"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row" align="end">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!holidayForm.valid"
              [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>