<div class="container">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content>
    <div class="row">
      <!--Gift Icon-->
      <div class="col text-center"> <i class="far fa-times-circle fa-6x col-red"></i> </div>
      <!--Modal Text-->
      <div class="col-8">
        <dl class="dl-horizontal">
          <dt class="pull-left me-2">Name:</dt>
          <dd>{{data.name}}</dd>
          <dt class="pull-left me-2">Leave Type:</dt>
          <dd> {{ data.type }}</dd>
          <dt class="pull-left me-2">From:</dt>
          <dd> {{ data.from }}</dd>
        </dl>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end" class="mb-1">
    <button mat-flat-button color="warn" [mat-dialog-close]="1" (click)="confirmDelete()">
      Delete
    </button>
    <button mat-flat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </mat-dialog-actions>
</div>