<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'All Projects'" [items]="['Projects']" [active_item]="'All Projects'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="wrapper">
              <nav class="nav-main">
                <div class="actions">
                  <button id="addProject" matTooltip="Create a project" matTooltipPosition="left"
                    aria-label="Create a project" (click)="boardComponent.newProjectDialog()">
                    <svg aria-hidden="true" viewBox="0 0 384 512">
                      <path fill="currentColor"
                        d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z" />
                    </svg>
                  </button>
                </div>
              </nav>
              <main class="main">
                <app-board></app-board>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>